@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin custom-max($breakpoint) {
  @media (max-width: #{$breakpoint}) {
      @content;
  }
}

@mixin custom-min($breakpoint) {
  @media (min-width: #{$breakpoint}) {
      @content;
  }
}
@mixin respond($breakpoint) {
  @if $breakpoint==s-phone {
    @media only screen and (max-width: 30em) {
      @content
    }
    ; //480px
  }
  @if $breakpoint==phone {
    @media only screen and (max-width: 50em) {
      @content
    }
    ; //800px
  }
  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content
    }
    ; //900px
  }
  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content
    }
    ; //1200px
  }
  @if $breakpoint==ss-desktop {
    @media only screen and (max-width: 85.375em) {
      @content
    }
    ; //1366
  }
  @if $breakpoint==s-desktop {
    @media only screen and (max-width: 90em) {
      @content
    }
    ; //1440
  }
  @if $breakpoint==desktop {
    @media only screen and (max-width: 100em) {
      @content
    }
    ; //1600
  }
  @if $breakpoint==b-desktop {
    @media only screen and (max-width: 120em) {
      @content
    }
    ; //1920
  }
}
@mixin button-head($pro) {
color: white;
font-size: 1rem;
cursor: pointer;
@if $pro{
    border: 1px solid $pro;
}
padding: 0.625rem 1.25rem;
margin-right: 2.5rem;
&:focus{
  outline: none;
}
}
@mixin icon-text($bottom)
{
display: flex;
margin-bottom: $bottom;
p{
  margin: 0px;
  margin-left: 0.625rem;
}
}

@mixin check-container($border-color,$background,$tick,$box-size,$default-back) {
display: block;
position: relative;
padding-left: 2.1875rem;
margin-bottom: 1.5625rem;
cursor: pointer;
font-size: 1.375rem;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
/* Hide the browser's default checkbox */
input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: $box-size;
  width: $box-size;
  border: 1px solid $border-color;
  background: $default-back;
}
/* On mouse-over, add a grey background color */
&:hover input ~ .checkmark {
border: 1px solid $border-color;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
background: $background;
border: 1px solid $border-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
@if $box-size == 16px{
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
} @else{
  height: 7px;
  width: 4px;
  left: 3px;
  top: 1px;
}
border: solid $tick;
border-width: 0 1px 1px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
}
@mixin keyframes($name) {
@if $webkit == true {
  @-webkit-keyframes #{$name} {
    @content;
  }
}

@if $moz == true {
  @-moz-keyframes #{$name} {
    @content;
  }
}

@if $ms == true {
  @-ms-keyframes #{$name} {
    @content;
  }
}

@if $o == true {
  @-o-keyframes #{$name} {
    @content;
  }
}

@keyframes #{$name} {
  @content;
}
}

@include keyframes(#{$nameSpace}-ripple-out) {
100% {
  top: -(6px + 6px);
  right: -(6px + 6px);
  bottom: -(6px + 6px);
  left: -(6px + 6px);
  opacity: 0;
}
}
@mixin prefixed($property, $value) {
@if $webkit == true {
  -webkit-#{$property}: #{$value};
}

@if $moz == true {
  -moz-#{$property}: #{$value};
}

@if $ms == true {
  -ms-#{$property}: #{$value};
}

@if $o == true {
  -o-#{$property}: #{$value};
}

#{$property}: #{$value};
}
@mixin hardwareAccel() {
// Improve performance on mobile/tablet devices
// Perspective reduces blurryness of text in Chrome
// @include prefixed(transform, perspective(1px) translateZ(0));
}

@mixin improveAntiAlias() {
// Improve aliasing on mobile/tablet devices
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@mixin forceBlockLevel() {
// Transforms need to be block-level to work
display: inline-block;
vertical-align: middle;
}

@mixin hacks() {
@include forceBlockLevel();
@include hardwareAccel();
@include improveAntiAlias();
}
@mixin ripple-out {
$outerBorderWidth: 6px;
$innerBorderWidth: 6px;

@include hacks();
position: relative;

&:before {
  content: '';
  position: absolute;
  border: $background-1 solid $outerBorderWidth;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include prefixed(animation-duration, 1s);
}

&:hover:before,
&:focus:before,
&:active:before {
  @include prefixed(animation-name, #{$nameSpace}-ripple-out);
}
}
@mixin rotate {
-webkit-transition: -webkit-transform .4s ease-in-out;
transition:         transform .4s ease-in-out;
&:hover{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
}
@mixin background-animate($color, $text-color) {
&::after{
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  width: 0rem;
  height: 0rem;
  z-index: -1;
  background: $color;
  transition: all 0.3s ease-in-out;
}
&:hover::after{
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@if $text-color != false{
  &:hover{
    color: $text-color;
  }
}
}
@mixin custom-slider {
  input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 2px;
    cursor: pointer;
    border-radius: 0; /* iOS */
    &::-webkit-slider-runnable-track {
        background: #ddd;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 12px; /* 1 */
        height: 12px;
        background: #fff;
        box-shadow: -100vw 0 0 100vw dodgerblue;
        border: 2px solid #999; /* 1 */
        &::after{
          content: '';
        }
    }

    // &::-moz-range-track {
    //     height: 40px;
    //     background: #ddd;
    // }

    // &::-moz-range-thumb {
    //     background: #fff;
    //     height: 12px;
    //     width: 12px;
    //     border: 3px solid #999;
    //     border-radius: 0 !important;
    //     box-shadow: -100vw 0 0 100vw dodgerblue;
    //     box-sizing: border-box;
    // }

    // &::-ms-fill-lower { 
    //     background: dodgerblue;
    // }

    // &::-ms-thumb { 
    //     background: #fff;
    //     border: 2px solid #999;
    //     height: 40px;
    //     width: 20px;
    //     box-sizing: border-box;
    // }

    // &::-ms-ticks-after { 
    //     display: none; 
    // }

    // &::-ms-ticks-before { 
    //     display: none; 
    // }

    // &::-ms-track { 
    //     background: #ddd;
    //     color: transparent;
    //     height: 40px;
    //     border: none;
    // }
  }
}

@mixin custom-max($breakpoint) {
  @media (max-width: #{$breakpoint}) {
      @content;
  }
}

@mixin custom-min($breakpoint) {
  @media (min-width: #{$breakpoint}) {
      @content;
  }
}