#FoyrFPCanvas {
    /* Uncomment below code only if you're facing issues with canvas resize and z-index context */

    /* position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0; */

    height: 100vh;
}

#FoyrFPMinimapCanvas {

    /* border: medium solid #000000; */
    position: absolute;
    top: 161px;
    right: 15px;
    background: #00000033;
    /* opacity: 0.2; */
    border-radius: 4px;
}

#FoyrFPPanoramaCanvas {
    position: absolute;
    top: 0px;
    height: 100vh;
}

#FoyrPaperCanvas {
    /* Uncomment below code only if you're facing issues with canvas resize and z-index context */

    /* position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0; */
    visibility: hidden;
}
